---
- name: Checking Operative System (only Debian compatible)
  meta: end_play
  when: ansible_os_family != 'Debian'

- name: Set the main gid to the users group
  become: true
  user:
    name: "{{ ansible_user_id }}"
    group: users

- name: Delete the default user group
  become: true
  group:
    name: "{{ ansible_user_id }}"
    state: absent

- name: Re-run facts
  setup:

- name: Update apt repos
  become: true
  apt: update_cache=yes force_apt_get=yes cache_valid_time=3600

- name: Upgrade all apt packages
  become: true
  apt: upgrade=full

- name: Install base packages
  become: true
  package:
    state: latest
    name:
      - apt-transport-https
      - ca-certificates
      - curl
      - gpg
      - libseccomp2
      - lm-sensors
      - locales
      - pigz
      - qemu-guest-agent
      - tar
      - tree
      - unattended-upgrades
      - unzip
      - util-linux
      - vim

- name: Install locales
  become: true
  community.general.locale_gen:
    name: "{{ item }}"
    state: present
  loop:
    - en_US.UTF-8
    - en_GB.UTF-8
    - "{{ locale }}"

- name: Customize the motd message
  become: true
  file:
    path: /etc/update-motd.d/{{ item.file }}
    state: absent
  loop:
    - { file: 10-help-text }
    - { file: 50-motd-news }

- name: Disable swap
  become: true
  command: swapoff -a
  when: ansible_memory_mb['swap']['total'] > 0

- name: Disable swap permanently
  become: true
  replace:
    path: /etc/fstab
    regexp: '^([^#].*?\sswap\s+sw\s+.*)$'
    replace: '# \1'

- name: Running networking tasks
  import_tasks: network.yml

- name: Running SSH hardening tasks
  import_tasks: ssh.yml

- name: Configure firewall
  import_tasks: firewall.yml
  when: enable_ufw
