policy: sync
provider:
  name: cloudflare
env:
  - name: CF_API_TOKEN
    value: ${CLOUDFLARE_API_TOKEN}

sources:
  - service
  - ingress
  - gateway-httproute

txtOwnerId: ${COMMON_CLUSTER_NAME}
txtPrefix: ${COMMON_CLUSTER_NAME}-
