---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-4.5.0/charts/other/app-template/values.schema.json

controllers:
  pocket-id:
    type: statefulset
    pod:
      securityContext:
        fsGroup: 100
        fsGroupChangePolicy: OnRootMismatch
    containers:
      pocket-id:
        securityContext:
          runAsUser: 1000
          runAsGroup: 100
          readOnlyRootFilesystem: true
        image:
          repository: ghcr.io/pocket-id/pocket-id
          tag: "${DOCKER_TAG__POCKET_ID__STATEFULSET__POCKET_ID__0}"
        env:
          TZ: ${COMMON_TZ}
          APP_URL: "https://auth.${COMMON_DOMAIN_ROOT}"
          PUID: 1000
          PGID: 100
        ports:
          - name: http
            protocol: TCP
            containerPort: 1411
        probes:
          liveness:
            enabled: true
            custom: true
            spec:
              initialDelaySeconds: 10
              periodSeconds: 10
              timeoutSeconds: 2
              successThreshold: 1
              failureThreshold: 5
              httpGet:
                path: /health
                port: http
          readiness:
            enabled: true
            custom: true
            spec:
              initialDelaySeconds: 10
              periodSeconds: 10
              timeoutSeconds: 2
              successThreshold: 1
              failureThreshold: 5
              httpGet:
                path: /health
                port: http

service:
  pocket-id:
    controller: pocket-id
    ports:
      http:
        port: 80
        targetPort: http

ingress:
  main:
    annotations:
      external-dns.alpha.kubernetes.io/hostname: auth.${COMMON_DOMAIN_ROOT}
      external-dns.alpha.kubernetes.io/target: k8s.${COMMON_DOMAIN_ROOT}
      external-dns.alpha.kubernetes.io/ttl: 1m
    hosts:
      - host: "auth.${COMMON_DOMAIN_ROOT}"
        paths:
          - path: /
            pathType: Prefix
            service:
              identifier: pocket-id
              port: http

persistence:
  config:
    type: persistentVolumeClaim
    storageClass: local-persistent-path
    accessMode: ReadWriteOncePod
    size: 1Gi
    advancedMounts:
      pocket-id:
        pocket-id:
          - path: /app/data
