basicauth:
  enabled: true
  user: ${KEEL_USERNAME}
  password: "${KEEL_PASSWORD}"

helmProvider:
  enabled: false

insecureRegistry: true

ingress:
  enabled: true
  annotations:
    traefik.ingress.kubernetes.io/router.middlewares: traefik-oidc-pocketid@kubernetescrd
    external-dns.alpha.kubernetes.io/hostname: keel.${COMMON_DOMAIN_ROOT}
    external-dns.alpha.kubernetes.io/target: k8s.${COMMON_DOMAIN_ROOT}
    external-dns.alpha.kubernetes.io/ttl: 1m
  hosts:
    - host: keel.${COMMON_DOMAIN_ROOT}
      paths:
        - /

podSecurityContext:
  fsGroup: 100
  fsGroupChangePolicy: OnRootMismatch

containerSecurityContext:
  runAsUser: 1000
  runAsGroup: 100
  readOnlyRootFilesystem: true

service:
  enabled: true
  type: ClusterIP

persistence:
  enabled: true
  storageClass: local-path
