---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-4.5.0/charts/other/app-template/values.schema.json

defaultPodOptions:
  terminationGracePeriodSeconds: 30
  annotations:
    k8s.v1.cni.cncf.io/networks: '[{ "name": "network-vlan-server", "namespace": "kube-system", "mac":"3a:5a:ea:50:8a:2a" }]'

controllers:
  esphome:
    type: deployment
    strategy: Recreate # TODO: How does forcing the MAC affect a RollingUpdate release?
    annotations:
      keel.sh/policy: major
      keel.sh/trigger: poll
      keel.sh/pollSchedule: "0 0 4 * * 5" # 4am Fri
    containers:
      esphome:
        image:
          repository: esphome/esphome
          tag: "${DOCKER_TAG__HOME_ASSISTANT__DEPLOYMENT__ESPHOME__0}"
        env:
          TZ: ${COMMON_TZ}
        ports:
          - name: http
            protocol: TCP
            containerPort: 6052
        probes:
          liveness:
            enabled: true
            custom: true
            spec:
              initialDelaySeconds: 5
              periodSeconds: 10
              timeoutSeconds: 2
              successThreshold: 1
              failureThreshold: 5
              httpGet:
                path: /
                port: http
          readiness:
            enabled: true
            custom: true
            spec:
              initialDelaySeconds: 5
              periodSeconds: 10
              timeoutSeconds: 2
              successThreshold: 1
              failureThreshold: 5
              httpGet:
                path: /
                port: http
    initContainers:
      git:
        image:
          repository: alpine/git
          tag: latest
        command: ["/bin/sh"]
        args:
          - -c
          - >-
            git clone ${HOMELAB_REPO} /repo &&
            chown -R root:root /repo &&
            cp -av /repo/${HOMELAB_ESPHOME_CONFIG}/. /config

service:
  esphome:
    controller: esphome
    ports:
      http:
        port: 6052
        targetPort: http

ingress:
  main:
    annotations:
      traefik.ingress.kubernetes.io/router.middlewares: traefik-oidc-pocketid@kubernetescrd
      external-dns.alpha.kubernetes.io/hostname: esphome.${COMMON_DOMAIN_ROOT}
      external-dns.alpha.kubernetes.io/target: k8s.${COMMON_DOMAIN_ROOT}
      external-dns.alpha.kubernetes.io/ttl: 1m
    hosts:
      - host: "esphome.${COMMON_DOMAIN_ROOT}"
        paths:
          - path: /
            pathType: Prefix
            service:
              identifier: esphome
              port: http

secrets:
  secrets:
    stringData:
      secrets.yaml: |+
        wifi_ssid: "${ESPHOME_WIFI_SSID}"
        wifi_password: "${ESPHOME_WIFI_PASSWORD}"

        ac_ota_password: "${ESPHOME_AC_OTA_PASSWORD}"
        ac_api_encryption_key: "${ESPHOME_AC_API_ENCRYPTION_KEY}"

persistence:
  config:
    type: hostPath
    hostPath: ${COMMON_VOLUMES_PATH}/esphome
    hostPathType: DirectoryOrCreate
    advancedMounts:
      esphome:
        git:
          - path: /config
        esphome:
          - path: /config
  secrets:
    type: secret
    name: '{{- (include "bjw-s.common.lib.chart.names.fullname" $) -}}-secrets'
    advancedMounts:
      esphome:
        esphome:
          - path: /config/secrets.yaml
            subPath: secrets.yaml
