---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-4.6.2/charts/other/app-template/values.schema.json

defaultPodOptions:
  terminationGracePeriodSeconds: 30

controllers:
  node-red:
    type: deployment
    strategy: RollingUpdate
    annotations:
      keel.sh/policy: minor
      keel.sh/trigger: poll
      keel.sh/pollSchedule: "0 0 4 * * 5" # 4am Fri
    containers:
      node-red:
        image:
          repository: nodered/node-red
          tag: "${DOCKER_TAG__HOME_ASSISTANT__DEPLOYMENT__NODE_RED__0}"
        env:
          TZ: ${COMMON_TZ}
        ports:
          - name: http
            protocol: TCP
            containerPort: 1880
        probes:
          liveness:
            enabled: true
            custom: true
            spec:
              initialDelaySeconds: 5
              periodSeconds: 10
              timeoutSeconds: 2
              successThreshold: 1
              failureThreshold: 5
              httpGet:
                path: /
                port: http
          readiness:
            enabled: true
            custom: true
            spec:
              initialDelaySeconds: 5
              periodSeconds: 10
              timeoutSeconds: 2
              successThreshold: 1
              failureThreshold: 5
              httpGet:
                path: /
                port: http
    initContainers:
      git:
        image:
          repository: alpine/git
          tag: latest
        command: ["/bin/sh"]
        args:
          - -c
          - >-
            git clone ${HOMELAB_REPO} /repo &&
            chown -R 1000:100 /repo &&
            cp -av /repo/${HOMELAB_NODERED_CONFIG}/. /data

service:
  node-red:
    controller: node-red
    ports:
      http:
        port: 1880
        targetPort: http

ingress:
  main:
    annotations:
      traefik.ingress.kubernetes.io/router.middlewares: traefik-oidc-pocketid@kubernetescrd
      external-dns.alpha.kubernetes.io/hostname: nodered.${COMMON_DOMAIN_ROOT}
      external-dns.alpha.kubernetes.io/target: k8s.${COMMON_DOMAIN_ROOT}
      external-dns.alpha.kubernetes.io/ttl: 1m
    hosts:
      - host: "nodered.${COMMON_DOMAIN_ROOT}"
        paths:
          - path: /
            pathType: Prefix
            service:
              identifier: node-red
              port: http

persistence:
  data:
    type: hostPath
    hostPath: ${COMMON_VOLUMES_PATH}/node-red
    hostPathType: DirectoryOrCreate
    advancedMounts:
      node-red:
        git:
          - path: /data
        node-red:
          - path: /data
