---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-4.5.0/charts/other/app-template/values.schema.json

defaultPodOptions:
  terminationGracePeriodSeconds: 30

controllers:
  zigbee2mqtt:
    type: statefulset
    annotations:
      keel.sh/policy: minor
      keel.sh/trigger: poll
      keel.sh/pollSchedule: "0 0 4 * * 5" # 4am Fri
    containers:
      zigbee2mqtt:
        image:
          repository: koenkk/zigbee2mqtt
          tag: "${DOCKER_TAG__HOME_ASSISTANT__STATEFULSET__ZIGBEE2MQTT__0}"
        securityContext:
          runAsUser: 1000
          runAsGroup: 100
        env:
          TZ: ${COMMON_TZ}
        ports:
          - name: http
            protocol: TCP
            containerPort: 8080
        probes:
          liveness:
            enabled: true
            custom: true
            spec:
              initialDelaySeconds: 5
              periodSeconds: 10
              timeoutSeconds: 2
              successThreshold: 1
              failureThreshold: 5
              httpGet:
                path: /
                port: http
          readiness:
            enabled: true
            custom: true
            spec:
              initialDelaySeconds: 5
              periodSeconds: 10
              timeoutSeconds: 2
              successThreshold: 1
              failureThreshold: 5
              httpGet:
                path: /
                port: http
    initContainers:
      git:
        image:
          repository: alpine/git
          tag: latest
        command: ["/bin/sh"]
        args:
          - -c
          - >-
            git clone ${HOMELAB_REPO} /repo &&
            chown -R 1000:100 /repo &&
            cp -av /repo/${HOMELAB_ZIGBEE_CONFIG}/. /app/data

service:
  zigbee2mqtt:
    controller: zigbee2mqtt
    ports:
      http:
        port: 8080
        targetPort: http

ingress:
  main:
    annotations:
      traefik.ingress.kubernetes.io/router.middlewares: traefik-oidc-pocketid@kubernetescrd
      external-dns.alpha.kubernetes.io/hostname: z2m.${COMMON_DOMAIN_ROOT}
      external-dns.alpha.kubernetes.io/target: k8s.${COMMON_DOMAIN_ROOT}
      external-dns.alpha.kubernetes.io/ttl: 1m
    hosts:
      - host: "z2m.${COMMON_DOMAIN_ROOT}"
        paths:
          - path: /
            pathType: Prefix
            service:
              identifier: zigbee2mqtt
              port: http

secrets:
  secrets:
    suffix: secrets
    stringData:
      secrets.yaml: |+
        server: mqtt://mosquitto.mosquitto:1883
        network_key: ${ZIGBEE2MQTT_NETWORK_KEY}
        user: zigbee2mqtt
        password: ${ZIGBEE2MQTT_PASSWORD}

persistence:
  data:
    type: hostPath
    hostPath: ${COMMON_VOLUMES_PATH}/zigbee2mqtt
    hostPathType: DirectoryOrCreate
    advancedMounts:
      zigbee2mqtt:
        git:
          - path: /app/data
        zigbee2mqtt:
          - path: /app/data
  secrets:
    type: secret
    name: '{{- (include "bjw-s.common.lib.chart.names.fullname" $) -}}-secrets'
    advancedMounts:
      zigbee2mqtt:
        zigbee2mqtt:
          - path: /app/data/secrets.yaml
            subPath: secrets.yaml
