---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-4.3.0/charts/other/app-template/values.schema.json

defaultPodOptions:
  terminationGracePeriodSeconds: 30

controllers:
  mcp-weather:
    type: deployment
    annotations:
      keel.sh/policy: major
      keel.sh/trigger: poll
      keel.sh/pollSchedule: "0 0 4 * * 5" # 4am Fri
    containers:
      mcp-weather:
        image:
          repository: ghcr.io/igalarzab/mcp-weather
          tag: "${DOCKER_TAG__MCPS__DEPLOYMENT__MCP_WEATHER__0}"
        ports:
          - name: http
            protocol: TCP
            containerPort: 4200
        env:
          WEATHER_PROVIDER: openweather
          OPENWEATHER_API_KEY: ${MCP_WEATHER_OW_API_KEY}
        probes:
          liveness:
            enabled: true
            custom: true
            spec:
              initialDelaySeconds: 5
              periodSeconds: 10
              timeoutSeconds: 2
              successThreshold: 1
              failureThreshold: 5
              httpGet:
                path: /health
                port: http
          readiness:
            enabled: true
            custom: true
            spec:
              initialDelaySeconds: 5
              periodSeconds: 10
              timeoutSeconds: 2
              successThreshold: 1
              failureThreshold: 5
              httpGet:
                path: /health
                port: http

service:
  mcp-weather:
    controller: mcp-weather
    ports:
      http:
        port: 4200
        targetPort: http

ingress:
  main:
    annotations:
      external-dns.alpha.kubernetes.io/hostname: mcp-weather.${COMMON_DOMAIN_ROOT}
      external-dns.alpha.kubernetes.io/target: ${COMMON_DNS_IP}
      external-dns.alpha.kubernetes.io/ttl: 1m
    hosts:
      - host: "mcp-weather.${COMMON_DOMAIN_ROOT}"
        paths:
          - path: /
            pathType: Prefix
            service:
              identifier: mcp-weather
              port: http
