- sensor:
    - name: sunlight_pct
      default_entity_id: sensor.sunlight_pct
      unit_of_measurement: "%"
      state: "{%- set elevation = state_attr('sun.sun','elevation') | float %} {%-
        set min_elevation = -6 %} {%- set max_elevation = 90 %} {%- set adjusted_elevation
        = elevation - min_elevation %} {%- set adjusted_elevation = [adjusted_elevation,0]
        | max %} {%- set adjusted_elevation = [adjusted_elevation,max_elevation - min_elevation]
        | min %} {%- set adjusted_elevation = adjusted_elevation / (max_elevation -
        min_elevation) %} {%- set adjusted_elevation = adjusted_elevation %} {%- set
        brightness = adjusted_elevation * 100 %} {{ brightness | round }}"
- sensor:
    - name: sunlight_opacity
      default_entity_id: sensor.sunlight_opacity
      state: "{%- set sunpct = states('sensor.sunlight_pct') | float %} {%- set opacity
        = sunpct / 100 | float %} {{ opacity }}"
