[default]
VOLUMES_PATH=/opt/k8s-volumes
MULTIMEDIA_PATH=/media/Multimedia
SMB_NAS_SOURCE=//IP/Multimedia
SMB_NAS_USERNAME=WRITEME
SMB_NAS_PASSWORD=WRITEME
SMB_NAS_SIZE=8000Gi
DOMAIN_ROOT=WRITEME
TZ=WRITEME

[02-cert-manager]
CLOUDFLARE_EMAIL=WRITEME
CLOUDFLARE_TOKEN=WRITEME
CERT_NAME=cluster-wildcard
CERT_SECRET_NAME=${CERT_NAME}-tls

[04-keel]
ADMIN_PASS=WRITEME

[10-plex]
# Get this from https://www.plex.tv/claim/
PLEX_CLAIM=WRITEME
PLEX_SMB_MULTIMEDIA_SOURCE=${default:SMB_NAS_SOURCE}/Multimedia

[11-jdownloader]
JDOWNLOADER_SMB_DOWNLOADS_SOURCE=${default:SMB_NAS_SOURCE}/Downloads

[12-transmission]
SPEED_UPLOAD_LIMIT=1000
DOWNLOADS_PATH=${default:MULTIMEDIA_PATH}/Downloads/transmission/
OPENVPN_PROVIDER=SURFSHARK
OPENVPN_REGION=jp-tok-st014.prod.surfshark.com_tcp
OPENVPN_USERNAME=WRITEME
OPENVPN_PASSWORD=WRITEME
LOCAL_NETWORK=10.0.0.0/8

[20-home-assistant]
ZIGBEE_DEVICE=/dev/serial/by-id/usb-ITEAD_SONOFF_Zigbee_3.0_USB_Dongle_Plus_V2_20221201153336-if00
