[default]
VOLUMES_PATH=/opt/k8s-volumes
DOMAIN_ROOT=WRITEME
TZ=WRITEME

SMB_NAS_USERNAME=WRITEME
SMB_NAS_PASSWORD=WRITEME
SMB_NAS_SOURCE=//IP/Multimedia
SMB_NAS_SOURCE_MULTIMEDIA=${SMB_NAS_SOURCE}/Multimedia
SMB_NAS_SOURCE_DOWNLOADS=${SMB_NAS_SOURCE}/Multimedia/Downloads
SMB_NAS_SIZE=8000Gi

[02-cert-manager]
CLOUDFLARE_EMAIL=WRITEME
CLOUDFLARE_TOKEN=WRITEME
CERT_NAME=cluster-wildcard
CERT_SECRET_NAME=${CERT_NAME}-tls

[04-keel]
ADMIN_PASS=WRITEME

[10-plex]
# Get this from https://www.plex.tv/claim/
PLEX_CLAIM=WRITEME

[12-transmission]
SPEED_UPLOAD_LIMIT=1000
OPENVPN_PROVIDER=SURFSHARK
OPENVPN_REGION=jp-tok-st014.prod.surfshark.com_tcp
OPENVPN_USERNAME=WRITEME
OPENVPN_PASSWORD=WRITEME
LOCAL_NETWORK=10.0.0.0/8
