---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-4.4.0/charts/other/app-template/values.schema.json

defaultPodOptions:
  terminationGracePeriodSeconds: 30

controllers:
  mosquitto:
    type: deployment
    annotations:
      keel.sh/policy: minor
      keel.sh/trigger: poll
      keel.sh/pollSchedule: "0 0 4 * * 5" # 4am Fri
    containers:
      mosquitto:
        image:
          repository: eclipse-mosquitto
          tag: ${DOCKER_TAG__MOSQUITTO__DEPLOYMENT__MOSQUITTO__0}
        env:
          TZ: ${COMMON_TZ}
        ports:
          - name: mqtt
            protocol: TCP
            containerPort: 1883
        probes:
          liveness:
            enabled: true
            custom: true
            spec:
              initialDelaySeconds: 5
              periodSeconds: 10
              timeoutSeconds: 2
              successThreshold: 1
              failureThreshold: 3
              tcpSocket:
                port: mqtt
          readiness:
            enabled: true
            custom: true
            spec:
              initialDelaySeconds: 5
              periodSeconds: 10
              timeoutSeconds: 2
              successThreshold: 1
              failureThreshold: 3
              tcpSocket:
                port: mqtt
    initContainers:
      git:
        image:
          repository: alpine/git
          tag: latest
        command: ["/bin/sh"]
        args:
          - -c
          - >-
            git clone ${HOMELAB_REPO} /repo &&
            cp -av /repo/${HOMELAB_MOSQUITTO_CONFIG}/. /mosquitto/config

service:
  mosquitto:
    controller: mosquitto
    ports:
      mqtt:
        port: 1883
        targetPort: mqtt

secrets:
  users:
    suffix: users
    stringData:
      # FIXME: The full crypt() hash uses $ symbols and those cannot be escaped in the .env file because of golang's os.Expand()
      # Because of it, we are storing the first blocks of the hashes here (these are not critical secrets anyway)
      mosquitto.pwds: |+
        home-assistant:$$7$$101$$46C1ho60XSvjKEIZ$$${MOSQUITTO_PASSWORDS_HA}
        node-red:$$7$$101$$h51h7FfXn4G1gCOf$$${MOSQUITTO_PASSWORDS_NODERED}
        zigbee2mqtt:$$7$$101$$GNInwfosp2Ucd67f$$${MOSQUITTO_PASSWORDS_ZIGBEE2MQTT}

persistence:
  config:
    type: emptyDir
    advancedMounts:
      mosquitto:
        git:
          - path: /mosquitto/config
        mosquitto:
          - path: /mosquitto/config
  users:
    type: secret
    name: '{{- (include "bjw-s.common.lib.chart.names.fullname" $) -}}-users'
    advancedMounts:
      mosquitto:
        mosquitto:
          - path: /mosquitto/config/mosquitto.pwds
            subPath: mosquitto.pwds
  data:
    type: hostPath
    hostPath: ${COMMON_VOLUMES_PATH}/mosquitto/
    hostPathType: DirectoryOrCreate
    advancedMounts:
      mosquitto:
        mosquitto:
          - path: /mosquitto/data
