play_music:
  alias: Play Music
  icon: mdi:music
  mode: single
  fields:
    player_id:
      description: Player ID where to run the music
      example: media_player.home_speakers
      selector:
        target:
          entity:
            domain: media_player
    volume:
      description: Volume of the speakers
      example: 20
    playlist:
      description: ID of the playlist to play
      example: spotify:playlist:37i9dQZF1DX889U0CL85jj
  sequence:
    - service: spotcast.play_media
      data:
        spotify_uri: '{{ playlist|default("spotify:playlist:37i9dQZEVXbugIqiYDsIOW") }}'
        media_player:
          entity_id: "{{ player_id }}"
        data:
          shuffle: true
          repeat: "context"
          volume: '{{ volume|default(20) }}'


