---
- name: Checking Operative System (only Debian compatible)
  meta: end_play
  when: ansible_os_family != 'Debian'

- name: Running networking tasks
  import_tasks: network.yml

- name: Installing packages
  import_tasks: packages.yml

- name: Installing cluster
  import_tasks: kubeadm.yml

- name: Configuring kubectl
  import_tasks: kubectl.yml

- name: Load CNI plugin
  import_tasks: cni.yml

- name: Do extra stuff (non critical)
  import_tasks: extras.yml
